.in-tokenBox {
  margin: 5px;
}
.in-channelBox {
  margin: 5px;
}
.in-MessageBox {
  margin-top : 170px;
  height: 500px;
}
.btn {
  margin: 5px;
}
div.form-check {
  margin-left: 5px;
  margin-top: 3px;
}
